.hero {
    background-image: url('../../images/3.png');
    background-color: #fae3b9;
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 350px; */
    position: relative;
  }
  
  .hero-content {
    position: relative;
    top: 2rem;
    width: 200px;
    background: #ab9685;
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
  }

  #hero__title {
    font-size: 2em;
  }

  .hero__subtitle {
    font-size: 1.5em;
  }

    @media (min-width: 920px) {
    .hero {
        height: 550px;
        background-size: contain;
        background-position: 0% 33%;
    }

    .hero-content {
        color: #fae3b9;
        position: absolute;
        top: 150px;
        right: 50px;
        width: 34%;
        margin: 2rem;
    }
}